:root {
  box-sizing: border-box;
  --first-color: #0a5278;
  --second-color: #ff7;
  --footer-bk-color: white;
  /** dichiarare i colori qui **/
}

*,
::after,
::before {
  box-sizing: inherit;
}

body * + * {
  margin-top: 1.5em;
  background: #bbb;
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 1.5em;
}

header,
footer {
  padding: 1.5em;
  color: #fff;
}

main {
  background: #fff;
  padding: 0 1.5em 1.5em 1.5em;
}

header,
footer,
main {
  border-radius: 5px;
}

article {
  background-color: #dedede;
  padding: 1.5em;
  float: left;
  width: 50%;
}

article h4 {
  margin: 0;
}

/* double container pattern */
.container {
  max-width: 90%;
  margin: 0 auto;
}

section::after {
  display: block;
  content: " ";
  clear: both;
}

/*nav */
.header-nav {
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  background-color: var(--first-color);
}

.header-nav > li {
  margin-top: 0;
}

.header-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: white;
  color: var(--first-color);
  text-decoration: none;
}

.header-nav > li:nth-child(1n + 2) {
  margin-left: 0.5em;
}

.header-nav > li.nav-right {
  margin-left: auto;
}

/* footer */
.footer-nav {
  display: flex;
  padding: 0.5em;
  list-style-type: none;
  
}


footer > nav > ul {
  justify-content: center;
}

/* aside */
.centergrid {
  background-color: var(--first-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.first {
  grid-area: 1 / 1 / 2 / 2;
}
.second {
  grid-area: 1 / 2 / 2 / 3;
}
.third {
  grid-area: 1 / 3 / 2 / 4;
}
