li {
    list-style-type: disc;
  }
  
  li li {
    list-style-type: circle;
  }

.uno #due 
{
    background-color: blueviolet;
} 

.uno
{
    background-color: yellow;
} 

.tre
{
    background-color: grey;
} 

.uno .tre
{
    background-color: pink;
} 
