/* General tags */
hr {
  border: 2px solid blue;
  border-style: dotted;
}

/* :any-link */
.anylinks a:any-link {
  border: 1px solid blue;
  color: orange;
}

/* WebKit browsers */
.anylinks a:-webkit-any-link {
  border: 1px solid blue;
  color: orange;
}

/* :links */
.onlylinks a:link {
  background-color: gold;
  color: green;
}
